.nav {
  display: flex;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px .3px;
}
.nav, nav {
  width: 100%;
}

.search {
  width: 70vw;
  font-size: 18px;
  letter-spacing: .1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 40px;
}

.styleLink {
  color: black;
  float: left;
  text-decoration: none;
  margin-left: 10%;
  margin-bottom: 5%;
  font-family: 'Kalam', cursive;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -3px;
  flex: 1 1;
  max-width: 30vw;
}